.green
{
	color: #07d159;
}

body
{
	background-color: #121314;
	font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #a0a0a0;
}

header
{
	text-align: right;
	margin-top: 10px;
	margin-right: 10px;
}

.error
{
	color: #ce1a2b;
}

.correct
{
	color: #84bd00;
}

label
{
	color: #a0a0a0;
	font-weight: normal;
	display: none;
}

.auth
{
	border: none;
	border-bottom: solid 1px #FFF;
	border-radius: 0;
	height: 27px;
	line-height: 27px;
	color: white;
	background-color: transparent;
	text-decoration: none;
}

.auth:focus
{
	outline: none;
}

.logbtn
{
	background-color: transparent;
	border: solid 1.5px #fff;
	border-radius: 256px;
	color: #fff;
	line-height: 1.25em;
	padding: 2px 15px 0;
	text-align: center;
	text-transform: uppercase;
	max-width: 200px;
	height: 27px;
	font-size: 12px;
}

#inbtn
{
	display: none;
}

#clickedbtn
{
	border-color: #648f00;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

#logo
{
	text-align: center;
}

#logo img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 256px;
}

#answer
{
	text-align: left;
	margin-top: 20px;
	color: #fff;
}

#prompt
{
	text-align: right;
	margin-top: 20px;
	color: #fff;
}

.choice
{
	height: 50px;
	max-width: 400px;
}
/*http://designpieces.com/palette/spotify-color-palette-hex-and-rgb/*/

table
{
	color: #88898c;
	table-layout: fixed;
	width: 100%;
	background-color: transparent;
	border-spacing: 0;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
	padding-top: 20px;
}

tr
{

}

.t1-cell, .t1-header th
{
	padding: 0 0 0 12px;
	border-top: 1px solid #222326;
	position: relative;
}

.t1-header th 
{
	border-top: 0;
	letter-spacing: 1px;
	line-height: 28px;
	text-transform: uppercase;
	vertical-align: bottom;
}

.t1-song
{
	width: 50%;
}

.t1-play
{
	width: 40px;
}

th
{
	font-weight: 400;
	text-align: left;
}

.t1-cell
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 40px;
	background: #121314;
}

td:hover
{
	background: #1c1c1f;
	color: #fbfbfc;
}

.active
{
	border-color: #121314;
	background-color: #222326;
}

td
{
	color: #dfe0e6;
	font-size: 14px;
}
