<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Guess</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	
	<!-- Read scripts -->
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/angular-spotify.js"></script>
	<link href="css/main.css" type="text/css" rel="stylesheet"/>	
	<link rel="icon" type="image/png" href="img/favicon.png">
	
</head>
<body ng-app="spotifyApp" ng-controller="spotifyCtrl">
	<header>
		<button class="logbtn" id="inbtn" ng-click="login()">login</button>
	</header>
	<div class="container" id="main">
		<div class="row">
			<div id="logo" class="col-xs-12">
				<img src="img/spotify_icon.png" ng-click="play(track.preview_url)">
				<h1>Guess the song!</h1>
				<h2>{{playlistName}}</h2>

				<form class="container form-inline" name="songForm">
					<div class="form-group">
						<button ng-disabled="songForm.search.$invalid" class="logbtn" ng-click="featuredPlaylist()" type="submit">Featured Playlists</button>
					</div>
					<div class="form-group">
						<button ng-disabled="songForm.search.$invalid" class="logbtn" ng-click="userPlaylist()" type="submit">Your Playlists</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div id="prompt" class="col-xs-6">
				<p>Name of song: {{song}} 
				<br />
				Artist: {{artist}} 
				<br />
				Album: {{album}}</p>
			</div>
			<div id="answer" class="col-xs-6">
				<form class="form">
					<div class="form-group">
						<label></label>
						<input name="title" class="auth" placeholder="title" ng-model="songGuess">
					</div>
				
					<div class="form-group">
						<label></label>
						<input name="artist" class="auth" placeholder="artist" ng-model="artistGuess">
					</div>
					<div class="form-group">
						<label></label>
						<input name="album" class="auth" placeholder="album" ng-model="albumGuess">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<!-- 
random song
random song from
from your playlist
from public playlist
from random playlist

favicon

show album cover

-->
<!--
			<form class="form-inline" name="loginForm" novalidate>

				<div class="form-group">
					<label>Username</label>
					<input name="username" class="auth" ng-model="username" placeholder="Spotify username" id="username">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input name="password" type="password" class="auth" ng-model="password" placeholder="Password" id="password">
				</div>
			</form>
								-->
								<!-- 			<div class="form-group">
				<label>Spotify search:</label>
				<input name="search" placeholder="Enter your search.." ng-model="searchTrack" class="auth">
			</div>
			<div class="form-group">
				<button ng-disabled="songForm.search.$invalid" class="logbtn" ng-click="getSongs()" type="submit">Submit</button>
			</div> -->